.header {
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    position: fixed;
    top: 0;
    left: 0;

    background: #16111f;

    border-bottom: 1px solid #302238;

    z-index: 1000;
}

/* LOGO */

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.logo span {
    color: #ec4899;
}


/* MENU */

.navbar {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar a {
    color: #d6d0dc;

    text-decoration: none;

    font-size: 17px;
    font-weight: 500;

    transition: 0.3s;
}

.navbar a:hover {
    color: #ec4899;
}


/* BOTÃO */

.btn-header {
    text-decoration: none;

    background: #ec4899;
    color: white;

    padding: 12px 24px;

    border-radius: 25px;

    font-size: 15px;
    font-weight: 600;

    transition: 0.3s;
}

.btn-header:hover {
    background: #db2777;

    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(236, 72, 153, 0.3);
}